-let data = [{className: 'link--dropdown', title:'О компании', sub:[{title:'О компании'}, {title:'О компании'},{title:'О компании'}]},{className: 'link', href:'',title:'Трейдеру'}, {className: 'link', href:'',title:'Стать участником'}, {className: 'link', href:'',title:'Партнеру'}, {className: 'link', href:'',title:'Отзывы'}]
.container-fluid.header-wrapper
    +b.header.clearfix.container
        +e.A(href="index.html").logo-wrapper
            +e.logo.IMG(src="./img/logo.png")
        +e.toggle()
            +e.toggle-item.SPAN
            +e.toggle-item.SPAN
            +e.toggle-item.SPAN
        +b.aside
            //- +e.actions.clearfix
            //-     +e.actions-nav
            //-         +e.link.A(href="") Über uns      
            //-         +e.link.A(href="") Kontakte
            +e.nav
                each el in data
                    +e.A(href=el.href, class=el.className) #{el.title}
                    -if(el.sub)
                        +e.sub 
                            each el in data[0].sub
                                +e.A(href=el.href).link #{el.title}

