mixin breadcrumbs(items, last)
  .container
    .breadcrumb
      ul.breadcrumb__list&attributes(attributes)
        each item in items
          li.breadcrumb__item
             a(href=item.link).breadcrumb__link= item.title
          li.breadcrumb__item.breadcrumb__item--devider /
        if last
          li.breadcrumb__item
            span.breadcrumb__link-current= last

mixin createHeader()
  -let data = [{className: 'link--dropdown', title:'О компании', sub:[{href:'company.html',title:'О компании'}, {href:'company.html',title:'О компании'},{href:'company.html',title:'О компании'}]},{className: 'link', href:'trader.html',title:'Трейдеру'}, {className: 'link', href:'',title:'Стать участником'}, {className: 'link', href:'',title:'Партнеру'}, {className: 'link', href:'',title:'Отзывы'}]
  .container-fluid.header-wrapper(class=attributes.class)
    +b.header.clearfix.container
        +e.A(href="index.html").logo-wrapper
            +e.logo.IMG(src="./img/logo.svg")
            span FORWARD <br> TRADE
        +e.toggle()
            +e.toggle-item.SPAN
            +e.toggle-item.SPAN
            +e.toggle-item.SPAN
        +b.aside
            //- +e.actions.clearfix
            //-     +e.actions-nav
            //-         +e.link.A(href="") Über uns      
            //-         +e.link.A(href="") Kontakte
            +e.nav
                each el in data
                    -if(el.sub)
                        +e.SPAN(class=el.className) #{el.title}
                            +e.sub 
                                each el in data[0].sub
                                    +e.A(href=el.href).link #{el.title}
                    -else 
                        +e.A(href=el.href, class=el.className) #{el.title}

