include ../../node_modules/bemto.pug/bemto.pug
include mixin
mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#icon-" + name)
-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  }) 
doctype html

-let navigation = [{href: 'personal-all.html',title:'Персональная сводка', icon:'icon-personal'},{href: 'personal--rate--traders.html',title:'Тарифы', icon:'icon-rate'},{href: 'personal--in.html',title:'Мои финансы', icon:'icon-finance'}, {href: 'personal--partners.html',title:'Мои партнеры', icon:'icon-partner'},{href: 'personal-settings.html',title:'Настройки', icon:'icon-settings'}]
html
  head
    meta(charset="utf-8")
    block title
      title Forward
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet" media="all" href="css/style.css")
  body
    .wrapper
      block header
        +createHeader()
      +b.main--padding
        block breadcrumbs
        +b.SECTION
          .container.clearfix
            +b.toggle-wrapper--personal
              +b.H2.clearfix 
                i.icon-personal
            +b.personal-header
                +b.personal-item--ip
                  +e.H2.ip Ваш IP: 
                    span 185.55.02.03
                  +e.H3.date четверг, 27 июля 2017
                +b.personal-item--time
                  +e.H2 Точное время в Москве
                  +e.H3
                    i.icon-time
                    span 10:47:42
                +b.personal-item--currency
                  +e.H2 USD: 
                  +e.H3 покупка - 
                    span 59,41
                  +e.H3 продажа - 
                    span 59,66
                +b.personal-item--amount
                  +e.H2 БАЛАНС: 
                  +e.H3 1 323 616 руб
                +b.personal-item--purchase
                  +e.A(href="personal--in.html#purchase") 
                    i.icon-rate
                    | Пополнить баланс  
        +b.SECTION
          .conatiner-fluid.main-content-wrapper
            .container.clearfix
              +b.aside-block--left
                +b.toggle-wrapper--settings
                  +b.H2.username.clearfix 
                    i.icon-settings
                +b.personal-navigation
                  +e.heading.clearfix
                    +e.img-wrapper
                      img(src="./img/card0.png")
                    +e.name
                      h2 
                        span Здравствуйте! 
                        | Волошин
                  +e.content
                    each el, i in navigation
                      -if(i===1)
                        +e.A(href=el.href).link.is-active
                          i(class=el.icon)
                          | #{el.title}
                      -else 
                        +e.A(href=el.href).link
                          i(class=el.icon)
                          | #{el.title}

              +b.aside-block--right
                block aside
                #small-thanks.mfp-hide.infowindow-wrapper
                  +b.infowindow--nopadding.container
                    +b.info__info-wrapper
                      +e.icon-close &times;
                      i.icon-info
                      p Ваша заявка на вывод средств принята и будет обработана в течение 3-суток
      include ../partials/footer/footer
  block additional-scripts
    script(src="./js/app.js")
    
