mixin CreatePagination()
  +b.pagination
    +e.A().item--fastforward.--previouslist 
      i.icon-double-left
    +e.A().item--current 1
    +e.A().item--count 2
    +e.A().item--count 3
    +e.A().item--count ...
    +e.A().item--count 15
    +e.A().item--fastforward.--nextlist 
      i.icon-double-right

mixin CreateCard(obj,index)
  -if(obj.closed)
    +b.traders-card--closed
      +e.row
        +e.img-wrapper
          img(src=obj.img)
      +e.row
        +e.H2.name=obj.name
        +e.H2.tactic Тактика: 
          span #{obj.tactic}
      +e.row
        +e.H2.heading--standart Опыт:
          span #{obj.exp} месяца
        +e.H2.heading--standart Рейтинг:
          span #{obj.rating}%
      +e.row
        +e.H2.heading--standart Доходность:
          span #{obj.income}%
        +e.H2.heading--standart Вознагр.:
          span #{obj.rate}%
      +e.row
        +e.H2.heading--standart От:
          span #{obj.from} руб
        +e.H2.heading--standart До:
          span #{obj.to} руб
      +e.row
        -if(obj.closed)
          +e.H2.heading--standart.--closed Закрыт
            i.icon-info-1
            +e.infowindow
              p Возможность инвестирования в данный тарифный план закрыта, несмотря на это, Вы продолжите получать прибыль до конца определенного тарифом срока.
        -else
          +e.A(href="#cooperate").cooperate.infowindow-open Сотрудничать
        +e.A(href="#infowindow-"+index).more.infowindow-open подробнее о трейдере
  -else
    +b.traders-card
      +e.row
        +e.img-wrapper
          img(src=obj.img)
      +e.row
        +e.H2.name=obj.name
        +e.H2.tactic Тактика: 
          span #{obj.tactic}
      +e.row
        +e.H2.heading--standart Опыт:
          span #{obj.exp} месяца
        +e.H2.heading--standart Рейтинг:
          span #{obj.rating}%
      +e.row
        +e.H2.heading--standart Доходность:
          span #{obj.income}%
        +e.H2.heading--standart Вознагр.:
          span #{obj.rate}%
      +e.row
        +e.H2.heading--standart От:
          span #{obj.from} руб
        +e.H2.heading--standart До:
          span #{obj.to} руб
      +e.row
        -if(obj.closed)
          +e.H2.heading--standart.--closed Закрыт
            i.icon-info-1
            +e.infowindow
              p Возможность инвестирования в данный тарифный план закрыта, несмотря на это, Вы продолжите получать прибыль до конца определенного тарифом срока.
        -else
          +e.A(href="#cooperate").cooperate.infowindow-open Сотрудничать
        +e.A(href="#infowindow-"+index).more.infowindow-open подробнее о трейдере


mixin CreateNewCard(obj,index)
  -if(obj.status[1] === false)
    +b.traders-card--closed
      +e.row
        +e.img-wrapper
          img(src=obj.img)
      +e.row
        +e.H2.name=obj.name
        +e.A(href="#infowindow-"+index).more.infowindow-open подробнее о трейдере
      +e.row
        +e.H2.heading--standart Доход:
          span #{obj.day}% в день
        +e.H2.heading--standart
          span.blue коммисия #{obj.commision}%
          span.main-color.main-color--strong #{obj.income}%
      +e.row
        +e.H2.heading--standart.--one-liner Срок:
          span.curr-value #{obj.period.start} 
            | из 
            span.end-value #{obj.period.end}  
            |  дней
        +e.H2.heading--standart 
          +b.SPAN.indicator-wrapper
            +e.SPAN.indicator
          span 27.06.2017 дата начала
      +e.row
        +e.H2.heading--standart В управлении:
          span #{obj.amount} руб
        +e.H2.heading--standart Всего выплачено:
          span.main-color.main-color--normal #{obj.incomeValue} руб
      +e.row
        +e.H2.heading--standart Статус:
          -if(obj.status[1] === true)
            i.icon.icon-refresh
          -else 
            i.icon.icon-close
          
        +e.H2.heading--standart.--bottom #{obj.status[0]}
  -else
    +b.traders-card
      +e.row
        +e.img-wrapper
          img(src=obj.img)
      +e.row
        +e.H2.name=obj.name
        +e.A(href="#infowindow-"+index).more.infowindow-open подробнее о трейдере
      +e.row
        +e.H2.heading--standart Доход:
          span #{obj.day}% в день
        +e.H2.heading--standart
          span.blue коммисия #{obj.commision}%
          span.main-color.main-color--strong #{obj.income}%
      +e.row
        +e.H2.heading--standart.--one-liner Срок:
          span.curr-value #{obj.period.start} 
            | из 
            span.end-value #{obj.period.end}  
            |  дней
        +e.H2.heading--standart 
          +b.SPAN.indicator-wrapper
            +e.SPAN.indicator
          span 27.06.2017 дата начала
      +e.row
        +e.H2.heading--standart В управлении:
          span #{obj.amount} руб
        +e.H2.heading--standart Всего выплачено:
          span.main-color.main-color--normal #{obj.incomeValue} руб
      +e.row
        +e.H2.heading--standart Статус:
          -if(obj.status[1] === true)
            i.icon.icon-refresh
          -else 
            i.icon.icon-close
          
        +e.H2.heading--standart.--bottom #{obj.status[0]}


    



mixin breadcrumbs(items, last)
  
  .breadcrumb.container
    ul.breadcrumb__list&attributes(attributes)
      each item in items
        li.breadcrumb__item
           a(href=item.link).breadcrumb__link= item.title
        li.breadcrumb__item.breadcrumb__item--devider /
      if last
        li.breadcrumb__item
          span.breadcrumb__link-current= last

mixin CreateTable(headings, rows)
  +b.TABLE.table--stripped&attributes(attributes)
    +e.TR.tr
      each heading in headings 
        +e.TH.th=heading
      each row in rows 
        +e.TR.tr
          each td , i in row
            -if(td.text)
              +e.TD.td(data-th=headings[i])
                i(class=td.icon.className+' '+td.icon.addClass )
                | #{td.text}
            -else 
              +e.TD.td(data-th=headings[i])=td

mixin PersonalInfoCard(title, icon, value, number,total,img, input)
  -if(input)
    +b.LABEL(class=attributes.class, for='in__'+attributes.id, data-text=attributes.text).form-control
      +e.H2.title=title.title
        -if(title.subtitle)
          span=title.subtitle
      -if(img)
        +e.IMG(src=img).img
      +b.INPUT(type="radio", name='in__'+ attributes.name, id='in__'+ attributes.id value='in__'+ attributes.id)
      
  -else 
    +b(class=attributes.class).clearfix
      +e.H2.title=title.title
        -if(title.subtitle)
          span=title.subtitle
      -if(value)
        +e.values-row.clearfix
          each el in value
            -if(el.title)
              +e.H3.value
                | #{el.title}
                span=el.amount
      -if(number)
        +e.H2.number=number
      -if(img)
        +e.IMG(src=img).img
      -if(total)
        +e.H2.total=total
      -if(icon)
        +e.I.icon(class=icon)


mixin createHeader()
  -let data = [{className: 'link--dropdown', title:'О компании', href:'company.html'},{className: 'link is-active', href:'trader.html',title:'Трейдеру'}, {className: 'link', href:'participate.html',title:'Стать участником'}, {className: 'link', href:'partner.html',title:'Партнеру'}, {className: 'link', href:'',title:'Отзывы'},{className: 'link--login', href:'login.html',title:'Войти', icon:'icon-login'}]
  .container-fluid.header-wrapper(class=attributes.class)
    +b.header.clearfix.container
        +e.A(href="index.html").logo-wrapper
            +e.logo.IMG(src="./img/logo.svg")
            span FORWARD <br> TRADE
        +e.toggle()
            +e.toggle-item.SPAN
            +e.toggle-item.SPAN
            +e.toggle-item.SPAN
        +b.aside
            +e.nav
                each el in data
                    -if(el.icon)
                      +e.A(href=el.href, class=el.className) 
                        i(class=el.icon)
                        | #{el.title}
                    -else 
                      +e.A(href=el.href, class=el.className) #{el.title}
                            
                          

